<!DOCTYPE html>
<html>
<title>Suvathi's First Page</title>
<!-- <link rel="stylesheet" type="text/css" href="css/mystyle.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<div class="mystyle-top">
    <div class="mystyle-bar" id="myNavbar">
        <a href="#home" class="mystyle-bar-item mystyle-button mystyle-hide-small"><i class="fa fa-user"></i> HOME</a>
        <a href="#about" class="mystyle-bar-item mystyle-button mystyle-hide-small"><i class="fa fa-user"></i> ABOUT</a>
        <!--<a href="#about" class="mystyle-bar-item mystyle-button mystyle-hide-small"><i class="fa fa-user"></i> CONTACT US</a>-->
        <!--<a href="#about" class="mystyle-bar-item mystyle-button mystyle-hide-small"><i class="fa fa-user"></i> FEEDBACK</a>-->
        <!--<a href="#about" class="mystyle-bar-item mystyle-button mystyle-hide-small"><i class="fa fa-user"></i> REPORTS</a>-->
        <!--<a href="#about" class="mystyle-bar-item mystyle-button mystyle-hide-small"><i class="fa fa-user"></i> CAREERS</a>-->
        <!--<a href="#about" class="mystyle-bar-item mystyle-button mystyle-hide-small"><i class="fa fa-user"></i> MAP</a>-->
    </div>

</div>


<div class="bgimg-1 mystyle-display-container mystyle-opacity-min" id="home">
    <div class="mystyle-display-middle" style="white-space:nowrap;">
        <span class="mystyle-center mystyle-padding-large mystyle-black mystyle-xlarge mystyle-wide mystyle-animate-opacity">MY <span
                class="mystyle-hide-small">WEBSITE</span> LOGO</span>
    </div>
</div>


<div class="mystyle-content mystyle-container" id="about">
    <h3 class="mystyle-center">ABOUT ME</h3>
    <p class="mystyle-center"><em>I love Gadgets</em></p>
    <p>I am Suvathi.I am working for Isha from City Office.</p>
    <h2>Programming skills</h2>
    <div class="skills">
    <ul>
        <li>Java</li>
        <li>J2EE</li>
        <li>Hibranate</li>
        <li>Spring</li>
        <li>PHP</li>
        <li>Symfony</li>
        <li>JSP</li>
        <li>Servlet</li>
        <li>Javascript</li>
        <li>Jquery</li>
        <li>Basics of HTML and CSS</li>
    </ul>
    </div>
    <h2>Project</h2>

    <ol>
        <li><a href="https://suvya.isha.in/" target="_blank">Suvya</a></li>
        <li><a href="https://suvya.isha.in/" target="_blank">OCO</a></li>
        <li><a href="https://suvya.isha.in/" target="_blank">VCD</a></li>
        <li><a href="https://suvya.isha.in/" target="_blank">VRO</a></li>
        <li><a href="https://suvya.isha.in/" target="_blank">VCD</a></li>
        <li><a href="https://suvya.isha.in/" target="_blank">HR</a></li>
        <li><a href="https://suvya.isha.in/" target="_blank">CENTRAL</a></li>
    </ol>

    <div class="mystyle-row">
        <div class="mystyle-col m6 mystyle-center mystyle-padding-large">
            <p><b><i class="fa fa-user mystyle-margin-left "></i>My Name</b></p><br>
            <img src="suvathi.jpg" class="mystyle-round mystyle-image mystyle-opacity mystyle-hover-opacity-off"
                 alt="Photo of Me" width="500" height="333">
        </div>

        <div class="mystyle-col m6 mystyle-hide-small mystyle-padding-large">
            <p>Welcome to my website.Hi! I am just normal Human Being like others.I love to use <span
                    style="color:blue"><strong> Gadgets</strong></span> and <span
                    style="color:blue"><strong>Gardening</strong></span></p>
        </div>
    </div>
    <p class="mystyle-large mystyle-center mystyle-padding-16">My Favourites are:</p>
    <div class="mytable">
        <table class="favorite">

            <caption>
                <em>Suvathi's Favorite</em>
            </caption>

            <hr>
            <tr>

                <th><i>Favorite Book</i></th>
                <th><i>Favorite Food</i></th>
                <th><i>Favourite Movie</i></th>
                <th><i>Favourite Actress</i></th>
                <th><i>Places to Visit</i></th>
                <th><i>Things to Do while living</i></th>

            </tr>
            <tr>
                <td>I dont have the habit of reading books</td>
                <td>Biriyani</td>
                <td>
                    <ul>
                        <li>Vikaram Vedha</li>
                        <li>October</li>
                        <li>Manam</li>
                        <li>Padmaavat</li>
                    </ul>
                </td>
                <td>Nayanthara</td>
                <td>
                    <ul>
                        <li>Andaman</li>
                        <li>Goa</li>
                        <li>Bir Billing</li>
                        <li>Jodhpur</li>
                        <li>Cherrapunji</li>
                        <li>Amritsar</li>
                    </ul>
                </td>
                <td>Help When in need</td>

            </tr>

        </table>
        <div class="mystyle-center div-block mystyle-opacity mystyle-hover-opacity-off">
            <a href="#home" class="mystyle-button mystyle-light-grey"><i class="fa fa-arrow-up mystyle-margin-right"></i>To
                the top</a>
        </div>

    </div>



</div>


<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<div class="mystyle-center div-block mystyle-bottom mystyle-padding-64 mystyle-opacity mystyle-hover-opacity-off">-->
    <!--<a href="#home" class="mystyle-button mystyle-light-grey"><i class="fa fa-arrow-up mystyle-margin-right"></i>To-->
        <!--the top</a>-->
<!--</div>-->
<!--<p>Copyrights by <a href="images/suvathi.jpg" title="suvathi" target="_blank" class="mystyle-black">@Suvathi</a>-->
<!--</p>-->
<div class="mystyle-bottom">
    <p>Copyrights by <a href="images/suvathi.jpg" title="suvathi" target="_blank" class="mystyle-black">@Suvathi</a></p>

</div>
</body>
</html>

